<div id="<%= dom_id tweet %>" class="bordes-costados p-3">
  <p class="font-20">
    <i class="fa-solid fa-user text-warning"></i>
    <strong><%= tweet.user_name %></strong>
  </p>

  <p>
    <%= tweet.description %>
  </p>

</div>
